@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dzgdcx');
  src:  url('fonts/icomoon.eot?dzgdcx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dzgdcx') format('truetype'),
    url('fonts/icomoon.woff?dzgdcx') format('woff'),
    url('fonts/icomoon.svg?dzgdcx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}