/**********************************************************
	SASS Imports
***********************************************************/
/**********************************************************
	Fonts
***********************************************************/
@import url(http://fonts.googleapis.com/css?family=Patua+One);
/**********************************************************
	Theme Colors
***********************************************************/
/**********************************************************
	Global SASS CSS
***********************************************************/
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-smoothing: antialiased; }

h1 span {
  font-weight: 300;
  color: #ffffff;
  background-color: #009c95;
  line-height: 1.2857em;
  padding: 8px; }

p {
  margin: 30px 0; }

ul, li {
  list-style: none; }

.about strong {
  color: #009c95;
  font-weight: 400; }

.about li, .contacts li {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  background-color: #009c95;
  padding: 8px;
  margin-top: 3px; }

.contacts {
  height: 550px; }

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009c95;
  height: 100vh; }

.tag {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300; }

.tag p {
  margin: 0; }

.tag span {
  color: #ffffff;
  font-weight: 700; }

.taganim p {
  display: inline-block;
  vertical-align: top;
  margin: 0; }

.vertical {
  margin: 180px 0; }

.ui {
  padding: 20px; }

/**********************************************************
	TAG Animation  CSS
***********************************************************/
.word {
  position: absolute;
  opacity: 0; }

.w {
  display: inline-block;
  position: relative;
  float: left;
  /*   transform: translateZ(25px); */
  /*   transform-origin: 50% 50% 25px; */ }

.w.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.w.behind {
  transform: rotateX(-90deg); }

.w.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

/**********************************************************
	Navigation Animation SASS CSS
***********************************************************/
.navbtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 110px;
  height: 98px;
  cursor: pointer;
  z-index: 999999;
  background: #009c95;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
  -webkit-transform-origin: 110px 0px;
  -moz-transform-origin: 110px 0px;
  -ms-transform-origin: 110px 0px;
  -o-transform-origin: 110px 0px;
  transform-origin: 110px 0px; }

.navln {
  display: block;
  position: absolute;
  width: 58px;
  height: 2px;
  background: #fff;
  left: 27px;
  -webkit-transform-origin: 7.5px 3px;
  -moz-transform-origin: 7.5px 3px;
  -ms-transform-origin: 7.5px 3px;
  -o-transform-origin: 7.5px 3px;
  transform-origin: 7.5px 3px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -moz-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -moz-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }

.navln:nth-child(1) {
  top: 32px; }

.navln:nth-child(2) {
  top: 47px; }

.navln:nth-child(3) {
  top: 62px; }

.close .navln:nth-child(1) {
  -webkit-transform: translateX(8px) rotate(45deg);
  -moz-transform: translateX(8px) rotate(45deg);
  -ms-transform: translateX(8px) rotate(45deg);
  -o-transform: translateX(8px) rotate(45deg);
  transform: translateX(8px) rotate(45deg); }

.close .navln:nth-child(2) {
  opacity: 0; }

.close .navln:nth-child(3) {
  -webkit-transform: translateX(8px) rotate(-45deg);
  -moz-transform: translateX(8px) rotate(-45deg);
  -ms-transform: translateX(8px) rotate(-45deg);
  -o-transform: translateX(8px) rotate(-45deg);
  transform: translateX(8px) rotate(-45deg); }

nav {
  position: fixed;
  top: 58px;
  right: 0;
  z-index: 999999;
  opacity: 0.9; }

nav a {
  color: #fff; }

nav ul, li {
  cursor: pointer; }

nav li {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  background-color: #222;
  padding: 12px;
  width: 200px; }

nav li:hover {
  background-color: #009c95; }

nav li.active {
  background-color: #009c95; }

nav.in li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s; }

nav.in li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s; }

nav.in li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s; }

nav.in li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s; }

nav.in li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s; }

nav.out li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s; }

nav.out li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s; }

nav.out li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s; }

nav.out li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s; }

nav.out li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s; }

nav.out li {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
  opacity: 0; }

nav.in li {
  right: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 0.9; }

/*# sourceMappingURL=styles.css.map */
